

body { padding-top: 110px; background-image: url("https://goo.gl/V5kMfs"); }

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: gray;
}

.red-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px red, 0 0 5px darkred; }
.green-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px green, 0 0 5px darkgreen; }
.blue-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px blue, 0 0 5px darkblue; }

#welcome-title {
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: -20px;
  margin-top: 35px;
}




#projects { text-align: center; margin-left: auto; margin-right: auto;  margin-top: 50px; }
.project-tile {  margin: 10px 15px 10px 0px; display: inline; }
a.project-link img { width: 40vw; margin-bottom: 50px; }
#welcome-title { text-align: right;  }
@media screen and (max-width: 546px){
  #welcome-title { text-align: center; margin-bottom: 10px;  }
}
@media screen and (max-width: 768px){
  .image { margin-bottom: 10px;  }
  a.project-link img { width: 80vw;  }

}

section { margin: 30px 50px 10px 50px; }

.section { position: relative; }
.section:target { padding-top: 80px; }



.navbar-nav {

    text-align: center;
}
.navbar-nav>li>a { letter-spacing: 1px; }
#navbar { box-shadow: 10px 10px 25px grey; }

img#github-avatar { border-radius: 50%; width: 20px; vertical-align: bottom; margin-left: 5px; }

h4 { font-weight: bold; }

#github-avatar-bio {
  width: 400px;
  border-radius: 50%;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 10px gray;
}


.navbar-brand {
  margin: 0 10px;
  letter-spacing: 1px;
  font-size: 14px;
}




img#about-img {
  border-radius: 5px;
  width: 50px;
  border: 1px solid lightgray;
  margin: 0 10px;
}

h4.hit-the-floor  { font-size: 25px; text-align: left; margin-bottom: 30px; }

blockquote {
  background: lightyellow;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
   -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  font-family: Georgia, serif;
  font-style: italic;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

#navbar { margin-top: 15px; }
.nav>li { display: inline-block; }

#footer {
  height: 200px;
  border-top: 1px solid lightgray;
  margin-top: 100px;
  background-color: white;
  box-shadow: 10px -10px 25px grey;
}

.portfolio-title { margin-bottom: 50px !important; }
