@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

.h-font {
  font-family: 'Josefin Slab', serif;
  color: #e7624d;
}

h6.h-font, h6.c-font { font-size: 18px; }

body {
  padding-top: 15px;
  #background-color: #e7624d;
  background-color: #F5E8B8;
}

section { text-align: center; }

main {
  padding-top: 95px;
  #background-image: url("https://goo.gl/V5kMfs");
}

p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  line-height: 1.45;
  color: gray;
  font-size: 16px;
}

.p-font {
font: normal normal normal 16px/1.4em 'EB Garamond',serif;
color: #E8634E;
}

#navbar a { color: white; }
#navbar { background-color: #E8634E; }

.about-col {
  margin-bottom: 50px;
}

.hsl5 {
  border-bottom: 3px solid orange;
}

.section-title {
  position: relative;
  bottom: 20px;
  margin-bottom: -10px;
}
.section-title h4 {
  font-size: 24px !important;
}

#about-section p {
  min-height: 250px;
  padding: 20px 0 20px 0;
  margin: 0;
}

.hl2 {
  width: 45px;
  border-bottom: 3px solid rgba(232, 99, 78, 1);
  height: 0 !important;
  min-height: 0 !important;
}

#tron {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 3vh;
}

@media (min-width: 400px) {
  #tron { padding-top: 6vh; }
}

#help-position {
  position: relative;
  top: 0; left: 0;
  padding-top: 20px;
}

#dmond {
  width: 35vw;
  max-width: 200px;
  position: absolute;
  top: -90%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
}

#github-avatar-bio {
  width: 500px;
  border-radius: 50%;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 10px gray;
  z-index: 1;
}

#live-love-code {
  position: relative;
  bottom: 45vw;
  max-width: 750px;
  width: 100%;
  margin-bottom: -15vw;
}

@media (min-width: 546px) {

  #live-love-code {
    bottom: 250px;
    margin-bottom: -100px;
  }
}

.red-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px red, 0 0 5px darkred; }
.green-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px green, 0 0 5px darkgreen; }
.blue-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px blue, 0 0 5px darkblue; }


.section { position: relative; }
.section:target { padding-top: 80px; }



.navbar-nav {

    text-align: center;
}
.navbar-nav>li>a { letter-spacing: 1px; }

#navbar { box-shadow: 10px 10px 25px grey; }

img#github-avatar { border-radius: 50%; width: 20px; vertical-align: bottom; margin-left: 5px; }

h4 { font-weight: bold; }

.navbar-brand {
  margin: 0 0 0 10px;
  letter-spacing: 1px;
  font-size: 14px;
}

img#about-img {
  border-radius: 5px;
  width: 50px;
  border: 1px solid lightgray;
  margin: 0 10px;
}

#navbar { margin-top: 5px; }
.nav>li { display: inline-block; }

.hl3 {
  width: 45px;
  border-bottom: 3px solid white;
  height: 0 !important;
  min-height: 0 !important;
}

.hsl7 {
  border-bottom: 3px solid #E5E2D3;
}

.c-font {
  color: white;
  font-family: 'Josefin Slab', serif;
}

#footer {
  min-height: 200px;
  border-top: 1px solid lightgray;
  padding: 40px 0 40px 0;
  background-color: #e7624d;
  margin-top: 40px;
}

.form-control {
  font-family: 'Josefin Slab', serif;
  font-size: 17px;
  padding-top: 10px;
}

.contact-col {
  padding: 20px 0 20px 0;
}

.contact-col p {
  margin: 0;
  font-size: 18px;
}

.contact-col a {
  color: white;
  text-decoration: underline;
}

.message {
  height: 143px;
  display: flex;
  margin-top: 19px;
}

.follow-img {
  width: 32px;
}

#contact-section p { color: white !important;}

.portfolio-title { margin-bottom: 50px !important; }

#portfolio-section { margin-top: 20px; }
#portfolio-section img {
  position: relative;
  z-index: 99;
}

.project { margin-bottom: 50px; }
.project-section { margin-top: 0px;  }



.api-img {
  border: 1px solid lightgray;
}

@media (min-width: 992px) {

  .project {
    margin-bottom: 0px;
  }

  .project-section {
    margin-top: 20px;
  }

  main { padding-bottom: 40px; }
}


.letter, .frame {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 20px;
  padding: 20px;
  position: relative;
  z-index: 5;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.title-desc h5 { font-size: 16px;}

.ghub {
  width: 32px;
  margin-top: 10px;
}
