@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
.h-font {
  font-family: 'Josefin Slab', serif;
  color: #e7624d;
}

h3.h-font { font-size: 7vw; }
h4.h-font { font-size: 9.7vw; }

body { padding-top: 110px; background-image: url("https://goo.gl/V5kMfs"); }

section { text-align: center; }
h4 {
  position: relative;
//margin-top: 20px;
}

h4.one {
  margin-top: 0;
}

h4.one:before {
  content: "";
  display: block;
  border-top: solid 1px black;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

h4.one span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}


p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: gray;
}

#tron {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 3vh;
}

@media (min-width: 400px) {
  #tron { padding-top: 6vh; }
}

#help-position {
  position: relative;
  top: 0; left: 0;
  padding-top: 20px;
}

#dmond {
  width: 35vw;
  max-width: 200px;
  position: absolute;
  top: -90%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
}

#github-avatar-bio {
  width: 500px;
  border-radius: 50%;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 10px gray;
  z-index: 1;
}

#live-love-code {
  position: relative;
  bottom: 45vw;
  max-width: 750px;
  width: 100%;
  margin-bottom: -15vw;
}

#whoiam {
  position: relative;
  bottom: 45vw;
}

@media (min-width: 546px) {
  #whoiam { bottom: 230px; }
  #live-love-code {
    bottom: 250px;
    margin-bottom: -100px;
  }
}

.red-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px red, 0 0 5px darkred; }
.green-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px green, 0 0 5px darkgreen; }
.blue-shadow { text-shadow: 1px 1px 2px lightgrey, 0 0 25px blue, 0 0 5px darkblue; }

#welcome-title {
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: -20px;
  margin-top: 35px;
}




#projects { text-align: center; margin-left: auto; margin-right: auto;  margin-top: 50px; }
.project-tile {  margin: 10px 15px 10px 0px; display: inline; }
a.project-link img { width: 40vw; margin-bottom: 50px; }
#welcome-title { text-align: right;  }
@media screen and (max-width: 546px){
  #welcome-title { text-align: center; margin-bottom: 10px;  }
}
@media screen and (max-width: 768px){
  .image { margin-bottom: 10px;  }
  a.project-link img { width: 80vw;  }

}



.section { position: relative; }
.section:target { padding-top: 80px; }



.navbar-nav {

    text-align: center;
}
.navbar-nav>li>a { letter-spacing: 1px; }
#navbar { box-shadow: 10px 10px 25px grey; }

img#github-avatar { border-radius: 50%; width: 20px; vertical-align: bottom; margin-left: 5px; }

h4 { font-weight: bold; }




.navbar-brand {
  margin: 0 0 0 10px;
  letter-spacing: 1px;
  font-size: 14px;
}




img#about-img {
  border-radius: 5px;
  width: 50px;
  border: 1px solid lightgray;
  margin: 0 10px;
}

h4.hit-the-floor  { font-size: 25px; text-align: left; margin-bottom: 30px; }

blockquote {
  background: lightyellow;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
   -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  font-family: Georgia, serif;
  font-style: italic;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

#navbar { margin-top: 15px; }
.nav>li { display: inline-block; }

#footer {
  height: 200px;
  border-top: 1px solid lightgray;
  margin-top: 100px;
  background-color: white;
  box-shadow: 10px -10px 25px grey;
}

.portfolio-title { margin-bottom: 50px !important; }
